<%- include('./partials/header/header.ejs'); %>

    <body>
        <style>
            th {
                white-space: nowrap;
            }
               /* CSS to make the scrollbar always visible */
            .table-responsive::-webkit-scrollbar {
                width: 12px; /* Width of the scrollbar */
                height: 12px; /* Height of the scrollbar */
            }

            .table-responsive::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
                border-radius: 6px; /* Radius of the scrollbar thumb */
            }

            .table-responsive::-webkit-scrollbar-track {
                background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
                border-radius: 6px; /* Radius of the scrollbar track */
            }
        </style>
        <div class="container-xxl position-relative bg-white d-flex p-0">
            <!-- Spinner Start -->
            <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
            <!-- Spinner End -->


            <%- include('./partials/sidebar/sidebar.ejs'); %>


                <!-- Content Start -->
                <div class="content">
                    <%- include('./partials/navbar/navbar.ejs'); %>

                        <%- include('./partials/chart/chart.ejs'); %>

                            <!-- Deceased Table Start -->
                            <div class="container-fluid pt-4 px-4">
                                <div class="bg-light text-center rounded p-4">
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <form class="d-flex d-md-flex  align-items-center ">
                                            <h6 class="mb-0 p-1" style="white-space: nowrap;">Search :</h6>
                                            <input class="form-control border-0" id="searchInput" type="search"
                                                placeholder="Search Name">
                                        </form>
                                        <form class="d-md-flex  align-items-center text-sm">
                                            <a href="register-deceased" class="btn btn-primary d-flex d-md-block d-lg-block m-2"><i
                                                    class="fas fa-plus me-2"></i>Add</a>
                                        </form>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4 me-2">
                                        <form action="print" method="post" class="d-flex">
                                            <div class="col-5 align-items-center justify-content-between me-2">
                                                <select class="form-select form-select-sm mb-3" name="month" id="month" required>
                                                    <option value="" hidden>Month</option>
                                                    <option value="All">All</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">Decembeer</option>
                                                </select>
                                            </div>
                                            <div class="col-5 align-items-center justify-content-between ">
                                                <select class="form-select form-select-sm mb-3" name="year" id="year" required>
                                                    <option value="" hidden>Year</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                    <option value="2025">2025</option>
                                                    <option value="2026">2026</option>
                                                    <option value="2027">2027</option>
                                                    <option value="2028">2028</option>
                                                    <option value="2029">2029</option>
                                                    <option value="2030">2030</option>
                                                </select>
                                            </div>
                                            <div class="col-2 align-items-center justify-content-between">
                                                <button type="submit" name="actions" value="print" class="btn btn-sm btn-secondary"
                                                        title="Print"><i class="fas fa-download"></i></button>
                                                </div>
                                        </form>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="d-flex col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option value="" selected hidden>Filter By:</option>
                                                    <option value="Select All">Select All</option>
                                                    <option value="Natural">Natural</option>
                                                    <option value="Accident">Accident</option>
                                                    <option value="Murder">Murder</option>
                                                    <option value="Unknown">Unknown</option>
                                                    <option value="Suicide">Suicide</option>
                                                    <option value="Homicide">Homicide</option>
                                                </select>
                                                
                                        </div>
                                        <div class="d-flex col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3">
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="" selected hidden>Filter By:</option>
                                                <option value="Select All">Select All</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="table-responsive" style="overflow-x: scroll;">
                                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                                            <thead>
                                                <tr class="text-dark">
                                                    <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Gender</th>
                                                    <th scope="col">Residence</th>
                                                    <th scope="col">Birthdate</th>
                                                    <th scope="col">Place of Death</th>
                                                    <th scope="col">Date of Death</th>
                                                    <th scope="col">Age of Death</th>
                                                    <th scope="col">Occupation</th>
                                                    <th scope="col">CivilStatus</th>
                                                    <th scope="col">Religion</th>
                                                    <th scope="col">Citizenship</th>
                                                    <th scope="col">Name of Father</th>
                                                    <th scope="col">Maiden Name of Mother</th>
                                                    <th scope="col">description</th>
                                                    <th scope="col">Cuase of Death</th>
                                                    <th scope="col">Informant</th>
                                                    <th scope="col">Informant Email</th>
                                                    <th scope="col">Informant Email(Brgy. Email)</th>
                                                    <th scope="col">Name of Cementery</th>
                                                    <th scope="col" class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(deceaseds && deceaseds.length > 0) { %>
                                                    <% deceaseds.forEach(deceased => { %>
                                                <tr>
                                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                                    <td style="white-space: nowrap;"><%= deceased.fullname %></td>
                                                    <td><%= deceased.gender %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.placeBirth %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.birthDate %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.placeDeath %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.deathDate %></td>
                                                    <td style="white-space: nowrap; text-align: center;"><%= deceased.ageDeath %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.occupation %></td>
                                                    <td><%= deceased.civilStatus %></td>
                                                    <td><%= deceased.religion %></td>
                                                    <td><%= deceased.citizenship %></td>
                                                    <td><%= deceased.fatherName %></td>
                                                    <td><%= deceased.motherName %></td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#modal<%= deceased._id %>">
                                                            Detail
                                                        </button>
                                                    </td>
                                                    
                                                    <td><%= deceased.causeDeath %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.guardian %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.guardianEmail %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.informantEmailBrgy %></td>
                                                    <td style="white-space: nowrap;"><%= deceased.nameCemetery %></td>
                                                    <td>
                                                        <form action="actions" method="post" class="text-center">
                                                            <div class="btn-group">
                                                                <input type="hidden" name="deceasedId" value="<%= deceased._id %>">
                                                                <a href="editDeceased/<%= deceased._id %>" class="btn btn-sm btn-primary"
                                                                    title="Edit"><i class="far fa-edit me-1"></i></a>
                                                                <button type="submit" name="actions" value="delete" class="btn btn-sm btn-danger"
                                                                    title="Delete"><i
                                                                        class="fas fa-trash me-1"></i></button>
                                                                <button type="submit" name="actions" value="print" class="btn btn-sm btn-secondary"
                                                                    title="Print"><i
                                                                        class="fas fa-download me-1"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                                <% } else { %>
                                                    <p>No Deceased Found.</p>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Deceased Table End -->
                            <!-- MODAL DETAIL START -->
                            <!-- Modal -->
                            <% deceaseds.forEach(deceased => { %>
                            <div class="modal fade" id="modal<%= deceased._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                                        </div>
                                        <div class="modal-body">
                                            <%= deceased.description %> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <!-- MODAL DETAIL END -->


                            <!-- Widgets Start -->
                            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                            <!-- Widgets End -->


                            <%- include('./partials/copyright/copyright.ejs'); %>
                </div>
                <!-- Content End -->


                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchInput');
    const deceasedRows = document.querySelectorAll('tbody tr');

    searchInput.addEventListener('input', function() {
        const searchQuery = this.value.trim().toLowerCase();

        deceasedRows.forEach(row => {
            const fullName = row.querySelector('td:first-child').textContent.trim().toLowerCase();

            if (fullName.includes(searchQuery)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});
</script>
        <%- include('./partials/footer/footer.ejs'); %>