<%- include('./partials/header/header.ejs'); %>

    <body>
        <style>
            th {
                white-space: nowrap;
            }
        </style>
        <div class="container-xxl position-relative bg-white d-flex p-0">
            <!-- Spinner Start -->
            <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
            <!-- Spinner End -->


            <%- include('./partials/sidebar/sidebar.ejs'); %>


                <!-- Content Start -->
                <div class="content">
                    <%- include('./partials/navbar/navbar.ejs'); %>

                        <%- include('./partials/chart/chart.ejs'); %>

                            <!-- Deceased Table Start -->
                            <div class="container-fluid pt-4 px-4">
                                <div class="bg-light text-center rounded p-4">
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <form class="d-none d-md-flex ms-4 align-items-center">
                                            <h6 class="mb-0 p-1" style="white-space: nowrap;">Search :</h6>
                                            <input class="form-control border-0" type="search"
                                                placeholder="Search Name">
                                        </form>
                                        <form class="d-none d-md-flex ms-4 align-items-center">
                                            <button type="button" class="btn btn-primary m-2"><i
                                                    class="fas fa-plus me-2"></i>Add</button>
                                        </form>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                                            <thead>
                                                <tr class="text-dark">
                                                    <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Full Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Contact</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Relatives</th>
                                                    <th scope="col">Password</th>
                                                    <th scope="col" class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                                    <td style="white-space: nowrap;">63255487q4we125</td>
                                                    <td style="white-space: nowrap;">Example Name</td>
                                                    <td style="white-space: nowrap;">example@gmail.com</td>
                                                    <td style="white-space: nowrap;">+639123456789</td>
                                                    <td style="white-space: nowrap;">Looc, Estaka Dipolog City</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Detail
                                                        </button>
                                                    </td>
                                                    <td>123</td>
                                                    <td>
                                                        <form action="" method="post" class="text-center">
                                                            <div class="btn-group">
                                                                <a href="#" class="btn btn-sm btn-primary"
                                                                    title="Edit"><i class="far fa-edit me-1"></i></a>
                                                                <button type="submit" class="btn btn-sm btn-danger"
                                                                    title="Delete"><i
                                                                        class="fas fa-trash me-1"></i></button>
                                                                <button type="submit" class="btn btn-sm btn-secondary"
                                                                    title="Print"><i
                                                                        class="fas fa-download me-1"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                                    <td style="white-space: nowrap;">63255487q4we125</td>
                                                    <td style="white-space: nowrap;">Example Name</td>
                                                    <td style="white-space: nowrap;">example@gmail.com</td>
                                                    <td style="white-space: nowrap;">+639123456789</td>
                                                    <td style="white-space: nowrap;">Looc, Estaka Dipolog City</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Detail
                                                        </button>
                                                    </td>
                                                    <td>123</td>
                                                    <td>
                                                        <form action="" method="post" class="text-center">
                                                            <div class="btn-group">
                                                                <a href="#" class="btn btn-sm btn-primary"
                                                                    title="Edit"><i class="far fa-edit me-1"></i></a>
                                                                <button type="submit" class="btn btn-sm btn-danger"
                                                                    title="Delete"><i
                                                                        class="fas fa-trash me-1"></i></button>
                                                                <button type="submit" class="btn btn-sm btn-secondary"
                                                                    title="Print"><i
                                                                        class="fas fa-download me-1"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                                    <td style="white-space: nowrap;">63255487q4we125</td>
                                                    <td style="white-space: nowrap;">Example Name</td>
                                                    <td style="white-space: nowrap;">example@gmail.com</td>
                                                    <td style="white-space: nowrap;">+639123456789</td>
                                                    <td style="white-space: nowrap;">Looc, Estaka Dipolog City</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Detail
                                                        </button>
                                                    </td>
                                                    <td>123</td>
                                                    <td>
                                                        <form action="" method="post" class="text-center">
                                                            <div class="btn-group">
                                                                <a href="#" class="btn btn-sm btn-primary"
                                                                    title="Edit"><i class="far fa-edit me-1"></i></a>
                                                                <button type="submit" class="btn btn-sm btn-danger"
                                                                    title="Delete"><i
                                                                        class="fas fa-trash me-1"></i></button>
                                                                <button type="submit" class="btn btn-sm btn-secondary"
                                                                    title="Print"><i
                                                                        class="fas fa-download me-1"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                                    <td style="white-space: nowrap;">63255487q4we125</td>
                                                    <td style="white-space: nowrap;">Example Name</td>
                                                    <td style="white-space: nowrap;">example@gmail.com</td>
                                                    <td style="white-space: nowrap;">+639123456789</td>
                                                    <td style="white-space: nowrap;">Looc, Estaka Dipolog City</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Detail
                                                        </button>
                                                    </td>
                                                    <td>123</td>
                                                    <td>
                                                        <form action="" method="post" class="text-center">
                                                            <div class="btn-group">
                                                                <a href="#" class="btn btn-sm btn-primary"
                                                                    title="Edit"><i class="far fa-edit me-1"></i></a>
                                                                <button type="submit" class="btn btn-sm btn-danger"
                                                                    title="Delete"><i
                                                                        class="fas fa-trash me-1"></i></button>
                                                                <button type="submit" class="btn btn-sm btn-secondary"
                                                                    title="Print"><i
                                                                        class="fas fa-download me-1"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <!-- <td><input class="form-check-input" type="checkbox"></td> -->
                                                    <td style="white-space: nowrap;">63255487q4we125</td>
                                                    <td style="white-space: nowrap;">Example Name</td>
                                                    <td style="white-space: nowrap;">example@gmail.com</td>
                                                    <td style="white-space: nowrap;">+639123456789</td>
                                                    <td style="white-space: nowrap;">Looc, Estaka Dipolog City</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Detail
                                                        </button>
                                                    </td>
                                                    <td>123</td>
                                                    <td>
                                                        <form action="" method="post" class="text-center">
                                                            <div class="btn-group">
                                                                <a href="#" class="btn btn-sm btn-primary"
                                                                    title="Edit"><i class="far fa-edit me-1"></i></a>
                                                                <button type="submit" class="btn btn-sm btn-danger"
                                                                    title="Delete"><i
                                                                        class="fas fa-trash me-1"></i></button>
                                                                <button type="submit" class="btn btn-sm btn-secondary"
                                                                    title="Print"><i
                                                                        class="fas fa-download me-1"></i></button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Deceased Table End -->
                            <!-- MODAL DETAIL START -->
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Relatives</h5>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Relatives 1:</h6>
                                            <p>Relavtive Name: Beta, Beta Beta</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MODAL DETAIL END -->


                            <!-- Widgets Start -->
                            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <img class="rounded-circle flex-shrink-0" src="public/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">Jhon Doe</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex mb-2">
                                <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                                <button type="button" class="btn btn-primary ms-2">Add</button>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span><del>Short task goes here...</del></span>
                                        <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>Short task goes here...</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                            <!-- Widgets End -->


                            <!-- Footer Start -->
                            <div class="container-fluid pt-4 px-4">
                                <div class="bg-light rounded-top p-4">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 text-center text-sm-start">
                                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                                        </div>
                                        <div class="col-12 col-sm-6 text-center text-sm-end">
                                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                            Designed By <a href="https://htmlcodex.com">RRG</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Footer End -->
                </div>
                <!-- Content End -->


                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <%- include('./partials/footer/footer.ejs'); %>