<%- include('./partials/header/header.ejs'); %>

<body class="is-preload">
    <%- include('./partials/nav/nav.ejs'); %>
    <!-- Heading -->
    <div id="heading">
        <h1>DECEASED PERSON</h1>
    </div>
<style>
    th,td {
        white-space: nowrap;
    }
</style>
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <div class="row">
                    <div class="col-12 col-12-medium" style="margin-bottom: 20px;">
                        <div class="w-50" style="border: 1px solid #ce1b28; padding: 23px; border-radius: 6px; background-color:rgb(252, 252, 252);">
                            <h4 style="font-weight: bold;">Place of Cemetery</h4>
                                <p>Block A : Lorem ipsum dolor sit amet Cemetery</p>
                                <p>Block A : Lorem ipsum dolor sit amet consectetur adipisicing. Cemetery</p>
                        </div>
                    </div>
                    <div class="col-12 col-12-medium">
                        
                        <!-- Form -->
                        <form method="post" action="#">
                            <div class="row gtr-uniform">
                                <div class="col-8 col-12-medium col-12-xsmall">
                                    <h2>Deceased Persons</h2>
                                </div>
                                <div class="col-4 col-12-medium col-12-xsmall">
                                    <input type="text" name="name" id="searchUserSide" value="" placeholder="Search(Surname, Firstname Middlename)" style="text-transform: capitalize;" />
                                </div>
                            </div>
                        </form>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Deceased’s Citizenship</th>
                                        <th>Date and place of birth</th>
                                        <th>Date and place of death</th>
                                        <th>Gender of the deceased</th>
                                        <th>Cause of Death</th>
                                        <th>Name of Cementery</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(deceaseds && deceaseds.length > 0) { %>
                                        <% deceaseds.forEach(deceased => { %>
                                    <tr>
                                        <td><%= deceased.fullname %></td>
                                        <td><%= deceased.citizenship %></td>
                                        <td><%= deceased.birthDate %>, <br /><%= deceased.placeBirth %></td>
                                        <td><%= deceased.deathDate %>, <br /><%= deceased.placeDeath %></td>
                                        <td><%= deceased.gender %></td>
                                        <td><%= deceased.causeDeath %></td>
                                        <td><%= deceased.nameCemetery %></td>
                                    </tr>
                                    <% }); %>
                                    <% } else { %>
                                        <p class="text-center">No Deceased Person Found.</p>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/copyright/copyright.ejs'); %>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchUserSide');
            const deceasedRows = document.querySelectorAll('tbody tr');
        
            searchInput.addEventListener('input', function() {
                const searchQuery = this.value.trim().toLowerCase();
        
                deceasedRows.forEach(row => {
                    const fullName = row.querySelector('td:first-child').textContent.trim().toLowerCase();
        
                    if (fullName.includes(searchQuery)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        });
        </script>
    <%- include('./partials/footer/footer.ejs') %>