<%- include('./partials/header/header.ejs'); %>

<body class="is-preload">
    <%- include('./partials/nav/nav.ejs'); %>
    <!-- Heading -->
    <div id="heading">
        <h1>Edit</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner" style="display: flex; justify-content: center; align-items: center;">
            <div class="content" style="background-color: #f8f7f7; ">
                <div class="row">
                    <div class="col-12 col-12-medium" >
                        <h2 style="padding: 40px; text-align: center;">Registration</h2>
                        <!-- Registration Form -->
                        <form action="doRegister" method="post" >
                            <div class="row gtr-uniform">
                                <div class="col-12">
                                    <h3>Information</h3>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="text" name="fullname" id="fullname" value="<%= user.fullname %>" placeholder="Surname, Firstname Middlename" style="text-transform: capitalize;" required/>
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="<%= user.email %>" placeholder="Email" disabled required/>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="text" name="address" id="address" value="<%= user.address %>" placeholder="Address" required/>
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="contact" id="contact" value="<%= user.contact %>" placeholder="Contact Ex. 09123456789" required/>
                                </div>
                                <div class="col-12">
                                    <h3>Relatives</h3>
                                </div>
                                <% if (user.relatives && user.relatives.length > 0) { %>
                                    <% user.relatives.forEach(function(relative, index) { %>
                                        <div class="col-5 col-12-xsmall">
                                            <input type="text" name="relativeName<%= index %>" id="relativeName<%= index %>" value="<%= relative.relativeName %>" placeholder="Surname, Firstname Middlename" style="text-transform: capitalize;" required/>
                                        </div>
                                        <div class="col-5 col-8-xsmall">
                                            <input type="email" name="relativeEmail<%= index %>" id="relativeEmail<%= index %>" value="<%= relative.relativeEmail %>" placeholder="Email" required/>
                                        </div>
                                    <% }); %>
                                <% } %>
                                <div class="col-12 col-12-xsmall" id="addBeforeTheButton">
                                    <input type="button" value="+ Add Relatives" class="primary" id="addRelativeBtn" />
                                    <input type="button" value="- Remove" id="removeRelativeBtn" style="margin-top: 10px;" />
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="password" name="password" id="password" value="" placeholder="New Password (Optional)" required/>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="password" name="Confirmassword" id="Confirmassword" value="" placeholder="Confirm Password" required/>
                                </div>
                                <div class="col-12" style="margin-top: 0px !important;">
                                    <a href="">Change Email?</a>
                                </div>
                                <!-- Break -->
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Submit" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/copyright/copyright.ejs'); %>
    
    <script>
        <% if (messages.message) { %>
        window.alert('<%= messages.message %>');
        <% } %>
 



        document.addEventListener("DOMContentLoaded", function() {
    const addRelativeBtn = document.getElementById('addRelativeBtn');
    const addBeforeTheButtonDiv = document.getElementById('addBeforeTheButton');

    addRelativeBtn.addEventListener('click', function() {
        const newRelativeDiv1 = document.createElement('div');
        newRelativeDiv1.className = 'col-6 col-12-xsmall relative-inputs'; // Add a specific class to identify relative input fields

        const newRelativeNameInput = document.createElement('input');
        newRelativeNameInput.setAttribute('type', 'text');
        newRelativeNameInput.setAttribute('name', 'relativeName');
        newRelativeNameInput.setAttribute('id', 'relativeName');
        newRelativeNameInput.setAttribute('placeholder', 'Surname, Firstname Middlename');
        newRelativeNameInput.setAttribute('style', 'text-transform: capitalize;');
        newRelativeDiv1.appendChild(newRelativeNameInput);

        const newRelativeDiv2 = document.createElement('div');
        newRelativeDiv2.className = 'col-6 col-12-xsmall relative-inputs'; // Add a specific class to identify relative input fields

        const newRelativeEmailInput = document.createElement('input');
        newRelativeEmailInput.setAttribute('type', 'email');
        newRelativeEmailInput.setAttribute('name', 'relativeEmail');
        newRelativeEmailInput.setAttribute('id', 'relativeEmail');
        newRelativeEmailInput.setAttribute('placeholder', 'Email');
        newRelativeDiv2.appendChild(newRelativeEmailInput);

        addBeforeTheButtonDiv.parentNode.insertBefore(newRelativeDiv1, addBeforeTheButtonDiv);
        addBeforeTheButtonDiv.parentNode.insertBefore(newRelativeDiv2, addBeforeTheButtonDiv);
    });

    const removeRelativeBtn = document.getElementById('removeRelativeBtn');
    removeRelativeBtn.addEventListener('click', function() {
        // Select all divs containing relative input fields
        const relativeDivs = document.querySelectorAll('.relative-inputs');
        // If there are more than one relative divs, remove the last one
        if (relativeDivs.length > 1) {
            relativeDivs[relativeDivs.length - 1].remove();
            relativeDivs[relativeDivs.length - 2].remove(); // Remove the corresponding name input
        }
    });
});

document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.removeRelativeBtn2').forEach(function(button) {
        button.addEventListener('click', function() {
            const index = this.dataset.index;
            document.getElementById('relativeName' + index).parentNode.remove(); // Remove relative name input and its parent div
            document.getElementById('relativeEmail' + index).parentNode.remove(); // Remove relative email input and its parent div
            this.remove(); // Remove the "Remove Relative" button
        });
    });
});







        </script>
<%- include('./partials/footer/footer.ejs') %>