<%- include('./partials/header/header.ejs'); %>

<body class="is-preload">
    <%- include('./partials/nav/nav.ejs'); %>
    <!-- Heading -->
    <div id="heading">
        <h1>Login</h1>
    </div>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner" style="display: flex; justify-content: center; align-items: center;">
            <div class="content" style="background-color: #f1eeee; width: 42%;">
                <div class="row">
                    <div class="col-12 col-12-medium" >
                        <h2 style="padding: 20px; text-align: center;">Login</h2>
                        <!-- Registration Form -->
                        <form action="login" method="post" >
                            <div class="row gtr-uniform">
                                <% if(messages.error) {%>
                                    <div class="col-12">
                                        <h4 style="text-align: center; color: red;"> <%= messages.error %></h4>
                                    </div>
                                <% } %>
                                <div class="col-12 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" required/>
                                </div>
                                <div class="col-12 col-12-xsmall">
                                    <input type="password" name="password" id="password" value="" placeholder="Password" required/>
                                </div>
                                <!-- Break -->
                                <div class="col-12" style="justify-content: center; align-items: center; display: flex;">
                                    <ul class="actions">
                                        <li><input type="submit" value="Submit" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/copyright/copyright.ejs'); %>
    
    <script>
        <% if (messages.message) { %>
        window.alert('<%= messages.message %>');
        <% } %>
        </script>
    <!-- Scripts -->
    <%- include('./partials/footer/footer.ejs') %>