<!DOCTYPE HTML>
<html>

<head>
    <title>
        <%= title %> | <%= site_title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="public/css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="is-preload">
    <%- include('./partials/nav/nav.ejs'); %>
    <!-- Heading -->
    <div id="heading">
        <h1>Registration</h1>
    </div>

    <div class="container-fluid d-flex justify-content-center align-items-center pt-5 pb-5 ">
        <form action="doRegister" method="post" class="border border-1 rounded p-3" style="width: 80%; background-color: #f7f7f7;">
            <div class="row" >
                <h4 class="text-center p-5">Registration</h4>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Fullname(Surname, Firstname Middlename)</label>
                        <input type="text" class="form-control" name="fullname" id="fullname"
                            placeholder="Surname, Firstname Middlename" style="text-transform:capitalize;"  required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="email"
                            placeholder="name@example.com"  required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" name="address" id="address"
                            placeholder="Address"  required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3">
                        <label for="contact" class="form-label">Contact</label>
                        <input type="text" class="form-control" name="contact" id="contact"
                            placeholder="+639123456789" pattern="(\+639\d{2}-\d{3}-\d{4}|\+639\d{9}|09\d{2}-\d{3}-\d{4}|09\d{9})"  required/>
                    </div>
                </div>
                <!-- <div class="col-12" id="create">
                    <div class="mb-3">
                            <label for="relatives" class="">Relatives<small>(Surname, Firstname Middlename)</small></label>
                        <div class="input-group mb-3" id="relatives">
                            <input type="text" class="form-control" name="relativeName" id="relativeName"
                            placeholder="Fullname(Surname, Firstname Middlename)" style="text-transform:capitalize;">
                            <input type="text" class="form-control" name="relativeEmail" id="relativeEmail"
                            placeholder="Address" required/>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 mt-3 mb-5" id="addBeforeTheButton">
                    <div class="btn-group" role="group">
                        <input type="button" value="+ Add" class="primary" id="addRelativeBtn" />
                        <input type="button" value="- Remove" id="removeRelativeBtn"  />
                    </div>
                </div> -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Password"  required/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm Password"  required/>
                    </div>
                </div>
                <div class="col-12 justify-content-center d-flex mt-3 mb-3">
                    <ul class="actions">
                        <li><input type="submit" value="Submit" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <%- include('./partials/copyright/copyright.ejs'); %>
    
    <script>
        <% if (messages.message) { %>
        window.alert('<%= messages.message %>');
        <% } %>
        document.addEventListener("DOMContentLoaded", function () {
    const addRelativeBtn = document.getElementById('addRelativeBtn');
    const addBeforeTheButtonDiv = document.getElementById('addBeforeTheButton');

    addRelativeBtn.addEventListener('click', function () {
        const newRelativeDiv = document.createElement('div');
        newRelativeDiv.className = 'col-12 relative-inputs'; // Add a specific class to identify relative input fields

        const relativesInputGroup = document.getElementById('relatives');
        const newRelativesInputGroup = relativesInputGroup.cloneNode(true); // Clone the original relatives input group

        // Clear the values of the cloned input group
        newRelativesInputGroup.querySelector('#relativeName').value = '';
        newRelativesInputGroup.querySelector('#relativeEmail').value = '';

        newRelativeDiv.appendChild(newRelativesInputGroup);

        addBeforeTheButtonDiv.parentNode.insertBefore(newRelativeDiv, addBeforeTheButtonDiv);
    });

    const removeRelativeBtn = document.getElementById('removeRelativeBtn');
    removeRelativeBtn.addEventListener('click', function () {
        // Select all divs containing relative input fields
        const relativeDivs = document.querySelectorAll('.relative-inputs');
        // If there are more than one relative divs, remove the last one
        if (relativeDivs.length > 0) {
            relativeDivs[relativeDivs.length - 1].remove();
        }
    });
});








        </script>
<%- include('./partials/footer/footer.ejs') %>