
<style>
    /* Reset default table styles */
    table {
        border-collapse: collapse;
        width: 100%;
        
    }

    /* Style table headers */
    th {
        background-color: #f2f2f2;
        border: 1px solid #dddddd;
        padding: 6px;
        text-align: left;
    }

    /* Style table cells */
    td {
        border: 1px solid #dddddd;
        padding: 8px;
        font-size: 16px;
    }


    /* Hover effect on rows */
    tr:hover {
        background-color: #e2e2e2;
    }
    h3{
        
        text-align: center;
    }
</style>
    <h3>All in <%= year %></h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th style="white-space: nowrap;">Name</th>
                <th style="white-space: nowrap;">Gender</th>
                <th style="white-space: nowrap;">Place of Birth</th>
                <th style="white-space: nowrap;">Birthdate</th>
                <th style="white-space: nowrap;">Place of Death</th>
                <th style="white-space: nowrap;">Date of Death</th>
                <th style="white-space: nowrap;">Age of Death</th>
                <th style="white-space: nowrap;">Occupation</th>
                <th style="white-space: nowrap;">CivilStatus</th>
                <th style="white-space: nowrap;">Religion</th>
                <th style="white-space: nowrap;">Citizenship</th>
                <th style="white-space: nowrap;">Name of Father</th>
                <th style="white-space: nowrap;">Maiden Name of Mother</th>
                <th style="white-space: nowrap;">Cuase of Death</th>
                <th style="white-space: nowrap;">Name of Cementery</th>
            </tr>
        </thead>
        <tbody>
            <% if(filteredDeceaseds && filteredDeceaseds.length > 0) { %>
                <% let count = 1; %>
                <% filteredDeceaseds.forEach(deceased=> { %>
                    <tr style="white-space: nowrap;">
                        <td>
                            <%= count++ %>
                        </td>
                        <td>
                            <%= deceased.fullname %>
                        </td>
                        <td>
                            <%= deceased.gender %>
                        </td>
                        <td>
                            <%= deceased.placeBirth %>
                        </td>
                        <td>
                            <%= deceased.birthDate %>
                        </td>
                        <td>
                            <%= deceased.placeDeath %>
                        </td>
                        <td>
                            <%= deceased.deathDate %>
                        </td>
                        <td>
                            <%= deceased.ageDeath %>
                        </td>
                        <td>
                            <%= deceased.occupation %>
                        </td>
                        <td>
                            <%= deceased.civilStatus %>
                        </td>
                        <td>
                            <%= deceased.religion %>
                        </td>
                        <td>
                            <%= deceased.citizenship %>
                        </td>
                        <td>
                            <%= deceased.fatherName %>
                        </td>
                        <td>
                            <%= deceased.motherName %>
                        </td>
                        <td>
                            <%= deceased.causeDeath %>
                        </td>
                        <td>
                            <%= deceased.nameCemetery %>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <p>No Deceased Found.</p>
                <% } %>
        </tbody>
    </table>